# IP address the webhook listener should be listening on.
GIT_WEBHOOK_LISTENER_IP=127.0.0.1

# Port the webhook listener should be listening on.
GIT_WEBHOOK_LISTENER_PORT=33333

# Specfiy the path to the hugo executable, either relative or absolute.
GIT_WEBHOOK_HUGO_EXECUTABLE_PATH=hugo

# Local filesystem path to git repository to rebuild.
GIT_WEBHOOK_REBUILD_REPO_PATH=/tmp/example/repository

# Hugo: bind address for hugo to listen on.
GIT_WEBHOOK_HUGO_BIND_ADDRESS=127.0.0.1

# Hugo: port for hugo to listen on.
GIT_WEBHOOK_HUGO_PORT=21212

# Hugo: boolean flag wether to append port to baseURL. Either 'true' or 'false'.
GIT_WEBHOOK_HUGO_APPEND_PORT=false

# Hugo: specify base URL as root path to your website.
# Somehow, hugo does not take this from the config file.
GIT_WEBHOOK_HUGO_BASE_URL=https://www.example.org/